/*
 * <%= projectName %>
 * Main SCSS file for composing your modules
 */

/**
 *
 * ###################
 * NEW
 * ----
 * PostCSS-Short: (https://github.com/jonathantneal/postcss-short)
 * Now you can use short CSS Syntax:
 *
 * before:
 *
 * .banner {
 *   position: fixed 0 0 *;
 * }
 *
 *
 * after:
 *
 * banner {
 *  position: fixed;
 *  top: 0;
 *  right: 0;
 *  left: 0;
 * }
 * ###################
 */

@import "../css/normalize";

<% if (useUIKit) { %>
// Framework Integration
$icon-font-path:    "../fonts/";
@import "../../node_modules/uikit/scss/uikit-variables";
@import "../../node_modules/uikit/scss/uikit-mixins";
@import "../../node_modules/uikit/scss/uikit";
<% } %>

<% if (useBootstrap) { %>
// Framework Integration
// IMPORTANT: To get Glyphicons to work, you need to remove '@at-root'
//            at bootstraps _glyphicons.scss
$icon-font-path: "../fonts/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
<% } %>

<% if (useFontAwesome) { %>
@import "../../node_modules/font-awesome/scss/font-awesome";
$fa-font-path: '../fonts/';
<% } %>

<% if (useBourbon) { %>
@import "bourbon";
@import "neat";
<% } %>

// Variables & Mixins
@import "_settings/variables";
@import "_settings/mixins";

// Base styling
@import "_base/base";
@import "_base/text";

// Component styling
@import "_components/button";
