/**
 * -----------------------
 * Text Styles
 * -----------------------
 * last Update: 00.00.2000
 * -----------------------
 *
 *
 *
 */

 /*------------------------------------*\
    Base font size
 \*------------------------------------*/
html, body {
    color: $main-color;
    font-family: $main-fonts;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}


/*------------------------------------*\
    Links
\*------------------------------------*/

a {
  color: $primary-color;

  &:hover,
  &:focus,
  &:active {
    color: darken($primary-color, 10%);
  }
}





/*------------------------------------*\
    Headlines
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}





/*------------------------------------*\
    Misc
\*------------------------------------*/
em {
  color: inherit;
}

p {
  margin: 0;
  padding: 0 0 2em;
}
